<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel='stylesheet' href="/static/style.css">
</head>
<body>
    <form action="/search" method="post">
        <div class="container">
            <h2>Search</h2>
            <input type="text" name="bookname" placeholder="Enter the book name" required>
            <button type="submit">Submit</button>
            <a href="/login">Logout</a>
        </div>
    </form>
</body>
</html>
